* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    overflow-x: clip;
}

.header {
    background: #f9fafc;
    color: #200e0e;
    padding: 20px 25px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 180px;
    font-weight: bold;
    color: #00aaff; /* Color de texto azul claro para el logo */
    margin: 0;
    -webkit-animation: text-shadow-drop-center 0.6s both;
    animation: text-shadow-drop-center 0.6s both;
}

.navbar {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #0a0a1b;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    -webkit-animation: text-shadow-drop-center 0.6s both, tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-shadow-drop-center 0.6s both, tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.nav-links a:hover {
    color: #00aaff; /* Color de texto azul claro al pasar el ratón sobre los enlaces */
}

/* svg Animacion */

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preload:before {
    content: '';
    width: 50%;
    height: 100%;
    top:0;
    left:0;
    background: #00218d;
    transition: 1s;
    position: absolute;
}
.preload:after {
    content: '';
    width: 50%;
    height: 100%;
    top:0;
    right:0;
    background: #00218d;
    transition: 1s;
    position: absolute;
}

.preload svg {
    display: block;
    width: 650px;
    height: 650px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.preload svg path {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: .7;
}

.preload svg path#letrasMP {
    stroke-width: 2.5px;
    stroke-dashoffset: 4500;
    stroke-dasharray: 4500;
    transition: 1.5s;
}
.preload svg path#letrasA {
    stroke-width: 2.5px;
    stroke-dasharray: 2200;
    stroke-dashoffset: 2200;
    transition: 1.5s;
}
.preload svg path.pathFillletter {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}
.preload svg path.active {
    stroke-dashoffset: 0 !important;
    transition: 1.5s; 
    stroke: #ffffff;
    filter: drop-shadow(0 0 7px #ffffff) drop-shadow(0 0 12px #ffffff);
    transition: stroke 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.preload svg path.activeback {
    fill: #00ccff;
    filter: drop-shadow(0 0 10px #00ccff) drop-shadow(0 0 20px #00ccff);
    transition: fill 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.preload.active {
    pointer-events: none;
}
.preload.active:before {
    transform: translateX(-120%);
}
.preload.active:after {
    transform: translateX(120%);
}
.preload.active svg {
    opacity: 0;
}

/*SLIDER "CARRUSEL"*/

/*SLIDER "CARRUSEL"*/

.slider-container {
    position: relative;
    width: 100%;
    height: 450px; /* Ajusta el ancho según lo necesites */
    /*max-width: 100%; /* Tamaño máximo basado en el contenedor */
    overflow: hidden;
    border-radius: 5px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
    margin: 0 auto; /* Centra el slider horizontalmente */
}

.slider {
    display: flex;
    height: 450px; /* Sigue siendo el 400% para 4 imágenes */
    transition: transform 0.4s ease-in-out;
}

.slide {
    flex: 0 0 100%; /* Cada slide ocupa el 100% del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

.slide img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*CAJAS*/
.boxes_1, .boxes_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.section-pb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px 0px;
}

.gar-section-mul {
    width: 200px;
    height: 280px;
    display: flex;
    justify-content: center;
    background-color: #bfbfbf;
    flex-direction: column;
    border-radius: 10px;
}
.gar-section-mul-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}
.\32 -section-con {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    justify-content: center;
}

/*FOOTER*/
.footer {
    background-color: #040b13;
}
footer p, footer a{
    color: #9f9f9f;
}

.footer_content {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    padding: 60px 0 60px 0;
    align-items: start;
}
.footer_content h2{
    color: white;
    font-size: 17px;
}
.footer_content p{
    font-size: 12px;
}
.row_1 {
    display: grid;
    gap: 30px;
}
.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_1_text {
    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;
}
.row_2, .row_3 {
    display: grid;
    justify-content: left;
    align-items: center;
    gap: 25px;
}
.row_4 {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.redes::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background: white;
    top: -10px;
}
.redes a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row_1_text img, .redes a img  {
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    width: 20px;
}
.footer_Bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 11px;
    border-top: 1px solid #9f9f9f;
    margin: 0 20px;
    align-items: center;
}
.terms {
    display: flex;
    gap: 15px;
}