@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 1px -2px 14px 0px #30D5C8;
}

.Top-right {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    margin-right: 50px;
    font-size: 18px;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background: url(../img/LuzDivina.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

form.login {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 25px;
    border-radius: 10px;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

form.login h1 {
    color: white;
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
}

.input-box input::placeholder{
    color: #fff;
}
/*ICONOS*/
.input-box img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    filter: invert(100%) brightness(100%);
}
/*INPUTS*/
input.input-register {
    height: 40px;
    width: 300px;
    border-radius: 25px;
    border: none;
    background-color: #dddddd;
    padding-left: 15px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    outline: none;
}
/*BOTON*/
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
input[type="checkbox"]{
    accent-color: #fff;
    margin-right: 3px;
}
label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: white;
}
label a {
    font-weight: bold;
    color: honeydew;
    text-decoration: none;
}
.dont-account {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}
.dont-account a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}