@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f9fa;
}

header {
    background: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    padding: 30px;
    background: white;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p {
    color: #495057;
    margin-bottom: 15px;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    background: #f1f3f5;
    border-left: 5px solid #007bff;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 0.9em;
    color: white;
}

li{
    color: #495057;
    margin-bottom: 15px;
}

ul {
    margin-left: 40px;
}